.choose-coach-button {
    width: 200px;
    height: 140px;
    position: relative;
    background-color: #dfdfdf;
    border-radius: 3px;
    cursor: pointer;
}

.choose-coach-button__text {
    text-transform: uppercase;
    color: #009688;
    font-weight: bold
}