.organization-way__list.list--dark {
    background: #454545 !important;
}

.list__item {
    display: flex;
    flex-direction: row;
    padding: 15px;
    transition-duration: .3s;

    border-bottom: 1px solid #454545;
}

.list__item.item--hoverable:hover {
    background: #303030;
}

.item--hoverable {
    cursor: pointer;
}

.list__item .item-title {
    display: block;
}
.list__item .item-title.title--primary  {
    margin-bottom: 3px;
    color: rgb(255,255,255) !important;
}

.list__item .item-title.title--secondary  {
    color: rgba(255,255,255,0.74) !important;
    font-size: 12px
}