.organization-way__training-closed {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 20px
}

.organization-way__body {
    background-color: #505050;
}