.qualler-drawer {
    display: flex;
    flex-direction: column;
    width: 21%;
    min-height: 100vh;
}

.qualler-drawer--dark {
    background: #4a4a4a;
    color: #dadada;
}

.drawer__account-slot {
    height: 200px;
    width: 100%;
    background-image: url(../assets/account-wall.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.account-slot__avatar-container {
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.account-slot__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-image: url(../assets/avatar.png)
}

.account-slot__bottom-panel {
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
}

.bottom-panel__username {
    color: #fff;
    font-size: 15px;
}

.bottom-panel__logout {
    background-color: rgba(255, 255, 255, .05) !important;
}

.bottom-panel__logout__ink {
    background-color: rgba(255, 255, 255, .3) !important;
}

.drawer__link {
    cursor: pointer;
    padding: 15px 10px;
    transition-duration: .3s;
    border-bottom: rgba(0, 0, 0, .15) 1px solid;
}

.drawer__link__icon-container {
    width: 50px;
    padding: 0 5px;
}

.drawer__link__icon {
    color: #dadada !important;
    font-size: 25px !important;
    padding-top: 5px;
}

.drawer__link:hover {
    background-color: rgba(0, 0, 0, .15) !important;   
}