.info-segment {
    padding: 10px 40px;
}

.info-segment.info-segment--hoverable {
    cursor: pointer;
}
.info-segment.info-segment--hoverable:hover {
    background-color: #f0f0f0;
}

.info-segment__text {
    color: #404040;
    margin-top: 10px;
}