.create-training-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-training-page__segment {
    width: 90%;
}

.create-training-page__segment.segment--high {
    padding: 30px 0;
}

.create-training-page__title {
    color: #303030;
    font-size: 40px;
}