.qualler-training-form__basic-info {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.qualler-training-form__basic-info .basic-info__training-name-container {
    width: 60%;
}

.qualler-training-form__basic-info .basic-info__dates-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}