body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
}

.app__content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.app-content-column {
    width: 80%;
    padding: 20px;
}

.page__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.content--end {
    justify-content: flex-end;
}

.content--space-between {
    justify-content: space-between;
} 

.content--space-around {
    justify-content: space-around;
}

.content--center {
    justify-content: center;
}

.align--center {
    align-items: center;
}